.container:has(#auth) {
  height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#auth {
  padding: 2rem;
  border-radius: 10px;
  display: inline;
  background-color: brown;
  display: flex;
  flex-direction: column;
}

#inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &>input {
    font-size: 1rem;
  }
}