#comments {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-inline: 4rem;

  &>.comment {
    background-color: var(--dark-3);
    border-radius: 10px;
    padding: 0.8rem;
    padding-inline: 1.2rem;

    &>.info {
      display: flex;
      justify-content: space-between;

      &>.created {
        font-size: 0.8rem;
      }
    }

    & .content {
      margin-block: 0.5rem;
    }

    &>.bottom {
      display: flex;
      justify-content: space-between;
    }
  }

  &>.owned {
    background-color: var(--dark-4);

    & .delete_comment button {
      background-color: var(--semantic-error);
      visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;

      &:hover {
        background-color: oklch(from var(--semantic-error) calc(l * 1.4) c h);
      }

      &:active {
        background-color: oklch(from var(--semantic-error) calc(l * 0.8) c h);
      }
    }

    &:hover .delete_comment button {
      visibility: visible;
    }
  }
}

#new_comment {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  &>:not(.buttons) {
    flex: 1;
    font-size: 0.9rem;
    padding: 1rem 1.35rem;
    min-height: 5rem;
    max-height: 5rem;
    text-align: start;
    resize: none;
    border-radius: 1.2rem;
    font-family: system-ui;
  }

  &:focus>:not(.buttons) {
    outline: 1px solid var(--accent);
  }

  &>.buttons {
    display: flex;
    align-self: end;
    gap: 0.25rem;
  }

  & button.hidden {
    visibility: hidden;
  }
}