#blog_posts {
  background-color: var(--dark-3);
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1rem;
  border-radius: 0.5rem;
}

.post {
  padding: 2rem 3rem;

  &:hover {
    outline: 1px solid white;
    cursor: pointer;
  }
}