#auth {
  padding: 2rem;
  border-radius: 10px;
  display: inline;
  background-color: brown;
  display: flex;
  flex-direction: column;
}

#inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &>input {
    font-size: 1rem;
  }
}